<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devour}}Devour!{{else}}Order Another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
